<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.laiyuejia.bilibili.mapper.AuthRoleElementOperationMapper">

    <resultMap id="BaseResultMap" type="cn.laiyuejia.bilibili.domain.auth.AuthRoleElementOperation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="elementOperationId" column="element_operation_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,element_operation_id,
        create_time
    </sql>

    <resultMap id="AuthElementOperationResultMap" type="cn.laiyuejia.bilibili.domain.auth.AuthRoleElementOperation">
        <id column="id" property="id" />
        <id column="role_id" property="roleId"/>
        <id column="element_operation_id" property="elementOperationId"/>
        <association property="authElementOperation" javaType="cn.laiyuejia.bilibili.domain.auth.AuthElementOperation">
            <id column="element_name" property="elementName" />
            <id column="element_code" property="elementCode"/>
            <id column="operation_type" property="operationType"/>
        </association>
    </resultMap>

    <select id="getRoleElementOperationsByRoleIds" parameterType="java.util.Set" resultMap="AuthElementOperationResultMap">
            select
                areo.*,
                aeo.element_name,
                aeo.element_code,
                aeo.operation_type
            from
                t_auth_role_element_operation areo
                left join t_auth_element_operation aeo
                    on areo.element_operation_id = aeo.id
            where
                areo.role_id in
                <foreach collection="roleIdSet" item="roleId" index="index" open="(" close=")" separator=",">
                    #{roleId}
                </foreach>
    </select>
</mapper>
